[package]
description  = "Miden AggLayer integration service"
edition      = "2024"
exclude      = [".github/"]
license      = "MIT"
name         = "miden-agglayer"
readme       = "README.md"
rust-version = "1.90"
version      = "0.1.0"

[dependencies]
alloy              = { features = ["consensus", "eips"], version = "1.3.0" }
alloy-core         = { features = ["sol-types"], version = "1.5.2" }
anyhow             = { default-features = false, version = "1.0" }
async-trait        = { version = "0.1" }
axum               = { features = ["tokio"], version = "0.8" }
axum-jrpc          = { path = "axum-jrpc" }
clap               = { features = ["derive"], version = "4.5" }
hex                = { version = "0.4" }
http               = { version = "1.3" }
miden-client       = { default-features = false, git = "https://github.com/0xMiden/miden-client.git", tag = "agglayer-v0.1" }
serde              = { features = ["derive"], version = "1.0" }
serde_json         = { version = "1.0" }
thiserror          = { default-features = false, version = "2.0" }
tokio              = { features = ["macros", "rt-multi-thread"], version = "1.48" }
tokio-stream       = { version = "0.1" }
tower              = { version = "0.5" }
tower-http         = { features = ["cors", "set-header"], version = "0.6" }
tracing            = { version = "0.1" }
tracing-subscriber = { features = ["env-filter", "fmt", "json"], version = "0.3" }
url                = { features = ["serde"], version = "2.5" }
