[package]
description  = "Miden AggLayer integration service"
edition      = "2024"
exclude      = [".github/"]
license      = "MIT"
name         = "miden-agglayer-service"
readme       = "README.md"
rust-version = "1.90"
version      = "0.1.0"

[profile.dev.package."*"]
opt-level = 1

[dependencies]
alloy              = { features = ["consensus", "eips"], version = "1.5.2" }
alloy-core         = { features = ["sol-types"], version = "1.5.2" }
anyhow             = { default-features = false, version = "1.0" }
async-trait        = { version = "0.1" }
axum               = { features = ["tokio"], version = "0.8" }
axum-jrpc          = { path = "axum-jrpc" }
clap               = { features = ["derive"], version = "4.5" }
hex                = { version = "0.4" }
http               = { version = "1.3" }
rand               = { default-features = false, version = "0.9" }
serde              = { features = ["derive"], version = "1.0" }
serde_json         = { version = "1.0" }
thiserror          = { default-features = false, version = "2.0" }
tokio              = { features = ["macros", "rt-multi-thread"], version = "1.48" }
tokio-stream       = { version = "0.1" }
toml               = { version = "0.9" }
tower              = { version = "0.5" }
tower-http         = { features = ["cors", "set-header"], version = "0.6" }
tracing            = { version = "0.1" }
tracing-subscriber = { features = ["env-filter", "fmt", "json"], version = "0.3" }
url                = { features = ["serde"], version = "2.5" }

miden-base-agglayer       = { package = "miden-agglayer", version = "=0.13.2" }
miden-client              = { features = ["tonic"], git = "https://github.com/0xMiden/miden-client.git", tag = "exp-agglayer-v0.2" }
miden-client-sqlite-store = { git = "https://github.com/0xMiden/miden-client.git", tag = "exp-agglayer-v0.2" }
miden-protocol            = { default-features = false, version = "=0.13.1" }
# node-builder              = { git = "https://github.com/0xMiden/miden-client.git", tag = "exp-agglayer-v0.2" }

# pin transitive dependencies
miden-protocol-macros = { version = "=0.13.1" }
miden-standards       = { version = "=0.13.1" }
miden-tx              = { version = "=0.13.1" }
