on:
  push:
    branches:
      - master
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: Swatinem/rust-cache@v2
      - run: make install-tools
      - run: make lint
      - run: make build
      - run: make test
